.followDocumentStatus {
    padding-left: 10px;
    vertical-align: middle;
}

.addNote {
    width: 400px;
}

.categoryName {
    width: 70%
}

.categoryAction {
    width: 15%
}

.categoryAddContainer {
    margin-bottom: 20px;
}

.categoryAddInput {
    width: 85%;
    display: inline-block;
}

.categoryAddButton {
    width: 10%;
    display: inline-block;
}

.addCategoryButton {
    display: flex;
    justify-content: center;
}

.fileContainer {
    max-width: 400px;
    overflow: hidden !important;
}